# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.DS_Store
Fretboarder.build
Fretboarder.xcodeproj/project.xcworkspace/xcuserdata
Fretboarder.xcodeproj/xcuserdata
build
Fretboarder.dylib.dSYM
*.tlog
*.log
*.idb
*.pdb
*.db
*.ipch
.vs/Fretboarder/v16/.suo
*.exp
*.iobj
*.ipdb
Release/Fretboarder.vcxproj.FileListAbsolute.txt
Debug/Fretboarder.vcxproj.FileListAbsolute.txt
